/*--------------------------------------------------------------
# Inner Circle - Single Post

1. Override existing styles from parent theme SASS
2. File attachment
--------------------------------------------------------------*/

@import "../node_modules/@asu-design-system/design-tokens/build/scss/_variables"; 
@import "media-queries";

@mixin small-horiz-divider {
    content: '';
    height: 1px;
    width: 100%;
    max-width: $uds-size-spacing-32;
    display: block;
    position: absolute;
    top: 0;
    background-color: $uds-color-base-gray-3;
}

/*--------------------------------------------------------------
5. Page layout
--------------------------------------------------------------*/
.single {
    .container {
        padding-top: $uds-size-spacing-6;
    }

    .row + .row {
        margin-top: $uds-size-spacing-6;
    }

    .wp-post-image {
        // Match top margin to headline
        margin-top: $uds-size-spacing-2;
    }
}

/*--------------------------------------------------------------
5. Author information
--------------------------------------------------------------*/
.single .author_info {
	margin-top: $uds-size-spacing-6;
	margin-bottom: $uds-size-spacing-6;
	svg {
		margin-right: $uds-size-spacing-1;
		color: $uds-color-base-maroon;
	}
}

/*--------------------------------------------------------------
6. Story meta display, header/footer
--------------------------------------------------------------*/
.single {
	.posted-on svg,
	.tags-links svg {
		margin-right:$uds-size-spacing-1;
	}

	.category-tags,
	.tags-links {
		margin-bottom:$uds-size-spacing-2;
	}
}





/*--------------------------------------------------------------
2. File Attachment (.downloads)
--------------------------------------------------------------*/
.downloads {

    position: relative;
    margin: $uds-size-spacing-6 0;
    padding-top: $uds-size-spacing-6;

    &:before {
        @include small-horiz-divider;
    }

    img {
        margin-right: $uds-size-spacing-3;
    }

    img.attachment-icon {
        padding: $uds-size-spacing-3;
        border: 1px solid $uds-color-base-gray-2;
    }

    .media-body {

        p:first-child {
            font-weight: 700;
        }
    }
}

