/*--------------------------------------------------------------
# Inner Circle - Tag.php

1. Mobile
2. Desktop
--------------------------------------------------------------*/
.archive.tag {

    #tag-hero {
        img {
            margin-top: $uds-size-spacing-2;
        }
    }

    .entry-footer {
        display: inline-block;

        svg {
            margin-right: $uds-size-spacing-1;
            // color:$uds-color-base-gray-6;
        }

        svg.fa-clock, svg.fa-map-marker-alt {
            margin-left: $uds-size-spacing-3;
        }

        .card-tags {
            margin-top: $uds-size-spacing-2;
            padding:0;
        }
    }
}


