// Design tokens from ASU Boostrap library
// @import "../node_modules/@asu-design-system/design-tokens/build/scss/_variables"; 
// @import "media-queries";

@import "ic-event-cards";
@import "ic-single";
@import "ic-tag";
@import 'ic-category';

// Blocks
@import "blocks/post-group";
@import "blocks/post-column";
@import "blocks/calendar-grid";

// Temporary
@import "blocks/grid-links";


// Gravity Form repeater field fix.
.gform_fields [id^=field_1_12-1] {
    margin-bottom:2rem;
    border-bottom: 2px dotted $uds-color-base-gray-3;
    padding-bottom:2rem;
    position:relative;
}

.gform_fields [id^=field_1_12-1]:after {
    content:'end entry';
    color: $uds-color-base-gray-4;
    position:absolute;
    left:40%;
    bottom:-1.25rem;
    background: #ffffff;
    padding:.5rem;
}
